body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #14213d, #263b68);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.highlight {
  color: #e63946;
}

.progress-container {
  width: 100%;
  height: 30px;
  background-color: #263b68;
  border-radius: 15px;
  margin: 20px 0;
  margin-top: 30px;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

#progress-percentage {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.time-display {
  background-color: #2d558d;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  margin-top: 30px;
  font-size: 1.2em;
  color: #fff;
}

.message {
  font-size: 1em;
  color: #f1faee;
  margin-top: 15px;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.photo-gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 50px;
  transition: transform 0.3s ease;
}

.below-date {
  font-size: 1.1em;
  color: #00eeff;
  margin-top: 5px;
}

.date {
  font-size: 1.2em;
  color: #ffef15;
  margin-bottom: 5px;
}

.below-date1 {
  font-size: 1.2em;
  color: #f1faee;
  margin-top: 5px;
  text-align: justify;
}

.below-date2 {
  font-size: 1.2em;
  color: #f1faee;
  margin-top: 20px;
  text-align: center;
}

.love-message {
  font-size: 1.2em;
  color: #e63946;
  margin-top: 15px;
  display: inline-block;
}

.heart {
  display: block;
  margin-top: 5px;
  font-size: 1em;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  body {
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }

  .container {
    margin-top: 0;
    padding: 15px;
  }
}
